*{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Coming Soon', cursive;
}

#title{
    margin-top: 30px;
    font-size: 50px;
    color: blue;
}

.box-digite-texto{
    margin: 30px 0 15px 0;
}

.box-digite-texto p{
    font-weight: bold;
}


#text-input{
    width: 500px;
    height: 30px;
    border-radius: 20px;
}

#meme-image-container{
    margin: 50px auto 10px;
    width: 500px;
    height: 300px;
    border: 1px solid black;
    background-color: white;
}


#meme-text{
    position: absolute;
    max-width: 500px;
    transform: translate(-50%, -50%);
    top: 55%;
    left: 50%;
    z-index: 2;
    color: white;
    font-size: 30px;
    text-shadow: 5px 5px 5px black;
}

#img-do-meme{
    z-index: 1;
}

#fire{
    color: white;
    font-size: 22px;
    font-weight: bold;
    width: 100px;
    height: 35px;
    background-color: rgb(255,0,0);
    cursor: pointer
}

#water{
    font-size: 22px;
    font-weight: bold;
    color: white;
    width: 100px;
    height: 35px;
    background-color: rgb(0,0,255);
    cursor: pointer
}

#earth{
    font-size: 22px;
    font-weight: bold;
    color: white;
    width: 100px;
    height: 35px;
    background-color: rgb(0,128,0);
    cursor: pointer
}


.memes-prontos{
    margin: 20px auto;
    max-width: 960px;
    height: 100px;
}

.memes-prontos img{
    cursor: pointer;
    width: 20%;
}